name: Golangci-Lint

on: [pull_request]
jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0

      - name: Setup Git for private modules
        env:
          TOKEN: ${{ secrets.GOLANGCI_SECRET }}
        run: git config --global url."https://edgelab-ci:${TOKEN}@github.com".insteadOf "https://github.com"

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17.x

      - name: Update dependencies
        run: go mod tidy -go=1.17

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v2.5.2
        with:
          version: latest
          only-new-issues: true
